.back {
    background-color: #d3d3d3;
    float: center;
}
.navbar-brand {
    background-color:  #5bc0de;
    padding: 10px;
    color: white;
    font-family: serif;
    font-weight: bold;
    font-size: 25px;
}
.background{
    background-color: white;
}
.block {
    background-color: white;
    margin-top: 50px;
    padding: 30px;
}
.img-align {
    float: left;
    width: 50%;
}
.img-right {
    float: right;
    width: 50%;
}
.header-style {
    color: #00aca7;
    font-weight: bold;
    font-size: 30px;
    font-family: serif;
}

.compare-img {
    width:100%;
}
.sub-header {
    text-align: center;
    color: #00aca7;
    font-weight: bold;
    font-size: 25px;
    font-family: serif;
}
.border-active {
    border: 2px solid #5bc0de;
}
@media (max-width: 750px) {
.background {
    background-color: #5bc0de;
}
}